@CHARSET "UTF-8";

body {
    background: #f1efee;
    font-family: 'Rubik',Futura, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    width: 100vw;
}

input {
    border-radius: 0;
}

h1 {
    font-weight: 100;
    color: #9c8383;
}

h2 {
    text-align: center;
    font-weight: 300;
}

h3 {
    font-weight: 100;
    color: #857d91;
}

h4 {
    font-weight: 100;
    color: #cbbcbc;
}

p {
    font-weight: 200;
}

.feed-container {
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed {
    background: #c0c0c8;
    width: 50vw;
}

input.submitButton {
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 500;
}

.field {
    border: none;
    font-size: 1em;
    background: #f1efee;
    padding-left: 0.2em;
    border-bottom: 2px solid black;
    outline: none;
}

.viewframe {
    height: 50vh;
    background: #fffdfb;
    width: 100%;
}

.nav-bar-container {
    position: relative;
    padding-bottom: 10vh;
}

.nav-bar {
    width: 100%;
    position: relative;
    height: 50px;
    top: 0;
    left: 0;
    background: #fffdfb;

}

.header {
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

.routine-image {
    width: 100%;
    height: 50vh;
    background: #f1efee;
}

.action-bar {
    width: 100%;
    height: 10vh;
    background: #fffdfb;
}

.reviews {
    text-align: left;
    background: #fffdfb;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.routine-description {
    color: #7b5d5d;
    font-family: 'Questrial', Futura, Helvetica, sans-serif;
}

.routine-review-text {
    color: #81796c;
    font-family: 'Questrial', Futura, Helvetica, sans-serif;
}